.icon,.icon-text {
  vertical-align: middle;
  display: inline-block;
}

.MuiCardHeader-title {
  font-size: 1.5em !important;
}

.icon {
  margin: 0px !important;
}

.card-media img[src=""] {
  display: none !important;
  height: 0px;
}

.post-preview-body p {
 margin: 1em auto;
}

.header-section {
  margin: auto 0.2em !important;
  margin-left: 0px;
  display: inline-block;
}

.header-section img {
  vertical-align: middle;
  margin-right: 2px;
  height: 1em;
}

.hidden {
  display: none !important;
}


